* {
    user-select: none;
}

.main-container {
    padding-bottom: 200px;
}

/* TITLE SECTION */

.ordinary-girls {
    height: 110px;
    width: 100%;
    background-color: rgb(224, 192, 169);
    margin: 0;
}

.name-section {
    font-family: 'Antic Didone', serif;
    text-align: center;
    padding-top: 40px;
    letter-spacing: 15px;
    font-size: 35px;
    font-weight: lighter;
    color: #5a5959;
}

/* ABOUT US IMG & TXT */

.about-wrapper {
    background-color: #fff8f5;
    width: 50%;
    height: 400px;
    display: flex;
    margin-left: 30%;
    margin-top: 6%;
}

.about-content {
    padding: 0px 10px 20px 10px;
    margin-left: 10px;
    margin-bottom: 50%;
    width: 700px;
    height: 470px;
    background-color: #fff8f5;
}

.about-content p {
    font-family: 'Antic Didone', serif;
    font-size: 19px;
    overflow: hidden;
    line-height: 1.9rem;
    text-align: start;
}

.about-us-picture img {
    height: 389px;
    width: 305px;
}